@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic");
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  margin-top: 50px;
}
.wrap{
  width: 100%;
  height: 86%;
  background: url("../images/concrete_seamless.png")!important;
  background: repeat;
}
.container {
  height: 100%;
  background: #fff;
  display: block;
  clear: both;
  position: relative;
}

.scale {
  background: inherit;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.scale2 {
  background: transparent;
}

hr {
  margin: 0;
  margin-top: 20px;
}

.gutter {
  height: 30px;
}

#projects-header {
  font-weight: 100;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.navbar {
  background: white;
  border: 0;
}
.navbar .container {
  border-bottom: 1px solid #eeeeee;
}

.navbar-default .navbar-nav > li > a {
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #64b5f6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #2196f3;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: white;
}
.navbar-default .navbar-toggle {
  border-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #444444;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: white;
}
.navbar-default .navbar-link:hover {
  color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #64b5f6;
  }
}
.hero {
  height: calc(80vh - 120px);
  min-height: 200px;
}

.hero__title {
  font-weight: 300;
  font-size: 42px;
}

.hero__text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__sub {
  font-size: 24px;
}

.hero__underline {
  background: #2196f3;
  height: 2px;
  margin: 0 auto;
  margin-top: 30px;
  width: 100px;
}

.footer__text {
  line-height: 98px;
  opacity: .5;
  margin: 0;
}
.wrapper {
  font-weight: 100;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
}

/*--about--*/
#about {
  height: 80%;
  display: table;
  margin: 0 auto;
}
.ab-grid {
  padding:0;
}
.pic {
  
    background-image: url("../images/Me.jpg");
    background-size: cover;
}
.text {
  background-color: #2196F3;
  min-height: 550px;
  padding: 4em;
}
.ab-grid.text h4 {
  font-size: 23px;
  line-height: 1.6em;
  color: #fff;
  font-family: inherit;
  font-weight: 100;
}
.ab-grid.text p{
    font-size: 16px;
    line-height: 1.8em;
    color: #fff;
    width: 95%;
    margin: 1em 0;
    font-weight: 100;
    font-family: inherit;
}
.wrap2{
    width: 100%;
  height: 80%;
  background-color:  rgba(241, 241, 241, 0.53)
}